---
import { count } from '@/lib/sounds';

import '@/styles/global.css';

interface Props {
  description?: string;
  title?: string;
}

const title = Astro.props.title || '专注与平静的环境音效';
const description =
  Astro.props.description ||
  `Moodist 是一个免费且开源的环境音生成器，特色在于拥有 ${count()} 种精心挑选的声音。使用这个多功能工具，您可以创建理想的氛围，无论是为了放松、专注还是激发创造力。`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="Moodist" property="og:site_name" />
    <meta content="https://moodist.app" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="https://moodist.app/og.png" property="og:image" />

    <meta content="summary_large_image" name="twitter:card" />
  </head>
  <body>
    <slot />
  </body>
</html>
